<h2>Épreuves de la compétition n°{{ competitionId }}</h2>

<table *ngIf="epreuves.length > 0; else noEpreuves" class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Matériels</th>
      <th>Juge ID</th>
      <th>Notation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ep of epreuves">
      <td>{{ ep.epreuve_name }}</td>
      <td>{{ ep.epreuve_description }}</td>
      <td>{{ ep.epreuve_materiels }}</td>
      <td>{{ ep.juge_id }}</td>
      <td>{{ ep.notation_type }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noEpreuves>
  <p>Aucune épreuve pour cette compétition.</p>
</ng-template>
