<nav>
  <div class="navcontainer">
    <a routerLink="/" class="accueil">Accueil</a>
    <a routerLink="/Configuration" class="fiche">Configuration</a>
    <a class="apropos">À propos</a>
    <a routerLink="/listecompetitions" class="competitions">Compétitions</a>
  </div>
  <img src="logo.png" alt="" class="logo">
  <button routerLink="/connexion" class="connexion" >Se connecter</button>
</nav>
<div class="wrapper-info" *ngIf="">
  <div class="card">
    <div class="icon"><i class="fas fa-info-circle"></i></div>
    <div class="subject">
      <h3>Info</h3>
      <p>Anyone with access can view your invited visitors</p>
    </div>
    <div class="icon-times"><i class="fas fa-times"></i></div>
  </div>
</div>

<img src="background.jpg" alt="" class="fond">
<div class="filtre"></div>
<footer>Fiches équestres</footer>

<router-outlet/>