<div class="configuration-container">
  <div class="configuration-card" [routerLink]="['/pop-up/SetNombresEpreuves']">
    <span class="configuration-title">Compétitions</span>
    <span class="configuration-description">Configurer les compétitions</span>
  </div>
  <div class="configuration-card" [routerLink]="['/pop-up/SetCompetitionID']">
    <span class="configuration-title">Épreuves</span>
    <span class="configuration-description">Gérer les épreuves</span>
  </div>
  <!-- <div class="configuration-card">
    <span class="configuration-title">Cavalier</span>
    <span class="configuration-description">Administrer les cavaliers</span>
  </div>
  <div class="configuration-card">
    <span class="configuration-title" [routerLink]="'/pop-up/SetJuges'">Juges</span>
    <span class="configuration-description">Gérer les juges</span>
  </div> 
  <div class="configuration-card">
    <span class="configuration-title">Niveaux</span>
    <span class="configuration-description">Définir les niveaux</span>
  </div>
  <div class="configuration-card" [routerLink]="'/pop-up/notation'">
    <span class="configuration-title">Notations</span>
    <span class="configuration-description">Liste des évaluations</span>
  </div> -->
</div>
