<h2>Liste des compétitions</h2>

<table *ngIf="competitions.length > 0; else noData" class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date</th>
      <th>Statut</th>
      <th>Détails</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comp of competitions">
      <td>{{ comp.nom }}</td>
      <td>{{ comp.date }}</td>  <!--| date: 'dd/MM/yyyy' -->
      <td>{{ comp.statut }}</td>
      <td>
        <button (click)="voirDetails(comp)">Voir</button>
      </td>
      <td>
        <button (click)="supprimerCompetition(comp.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noData>
  <p>Aucune compétition disponible.</p>
</ng-template>
