<div class="container">
    <table>
        <thead>
            <tr>
                <th class="border-radius-left">Nom</th>
                <th>Date</th>
                <th>Status</th>
                <th class="border-radius-right">Détail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Compétition de Villefranche</td>
                <td>16/05/2025</td>
                <td class="status-pending">En attente</td>
                <td>
                    <button class="detail-link" routerLink="/epreuve">En savoir plus</button>
                    <img class="icon" src="delete.png" alt="" >
                </td>
            </tr>
            <tr>
                <td>Compétition de Villefranche</td>
                <td>16/05/2025</td>
                <td class="status-pending">En attente</td>
                <td>
                    <button class="detail-link" routerLink="/epreuve">En savoir plus</button>
                    <img class="icon" src="delete.png" alt="">
                </td>
            </tr>
            <tr>
                <td>Compétition des monts du lyonnais</td>
                <td>28/04/2025</td>
                <td class="status-in-progress">En cours</td>
                <td>
                    <button class="detail-link" routerLink="/epreuve">En savoir plus</button>
                    <img class="icon" src="delete.png" alt="">
                </td>
            </tr>
            <tr class="border-radius-bottom">
                <td>Compétition de Marcy</td>
                <td>04/01/2023</td>
                <td class="status-completed">Terminé</td>
                <td>
                    <button class="detail-link" routerLink="/epreuve" >En savoir plus</button>
                    <img class="icon" src="delete.png" alt="" >
                </td>
            </tr>
        </tbody>
    </table>
</div>