/* You can add global styles to this file, and also import other style files */
/* success */
.wrapper-success {
    margin: 120px;
}

.wrapper-success .card {
    width: 720px;
    height: 120px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #49d761;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-success .card .subject {
    margin-right: 180px;
}

.wrapper-success .card .subject p {
    color: #909092;
}

.wrapper-success .card .icon {
    font-size: 28px;
    color: #49d761;
}

.wrapper-success .card .icon-times {
    font-size: 28px;
    color: #c3c2c7;
    cursor: pointer;
}

/* success */
/* info */
.wrapper-info {
    margin: 120px;
}

.wrapper-info .card {
    width: 720px;
    height: 120px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #3286e9;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-info .card .subject {
    margin-right: 180px;
}

.wrapper-info .card .subject p {
    color: #909092;
}

.wrapper-info .card .icon {
    font-size: 28px;
    color: #3286e9;
}

.wrapper-info .card .icon-times {
    font-size: 28px;
    color: #c3c2c7;
    cursor: pointer;
}

/* info */
/* warning */
.wrapper-warning {
    margin: 120px;
}

.wrapper-warning .card {
    width: 720px;
    height: 120px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #fdc220;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-warning .card .subject {
    margin-right: 180px;
}

.wrapper-warning .card .subject p {
    color: #909092;
}

.wrapper-warning .card .icon {
    font-size: 28px;
    color: #fdc220;
}

.wrapper-warning .card .icon-times {
    font-size: 28px;
    color: #c3c2c7;
    cursor: pointer;
}

/* warning */

/*
<!-- section-success -->
      <div class="wrapper-success">
        <div class="card">
          <div class="icon"><i class="fas fa-check-circle"></i></div>
          <div class="subject">
            <h3>Success</h3>
            <p>Anyone with access can view your invited visitors</p>
          </div>
          <div class="icon-times"><i class="fas fa-times"></i></div>
        </div>
      </div>
      <!-- section-success -->

      <!-- section-info -->
      <div class="wrapper-info">
        <div class="card">
          <div class="icon"><i class="fas fa-info-circle"></i></div>
          <div class="subject">
            <h3>Info</h3>
            <p>Anyone with access can view your invited visitors</p>
          </div>
          <div class="icon-times"><i class="fas fa-times"></i></div>
        </div>
      </div>
      <!-- section-info -->

      <!-- section-warning -->
      <div class="wrapper-warning">
        <div class="card">
          <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
          <div class="subject">
            <h3>Warning</h3>
            <p>Anyone with access can view your invited visitors</p>
          </div>
          <div class="icon-times"><i class="fas fa-times"></i></div>
        </div>
      </div>
      <!-- section-warning -->
*/

.title {
  font-family: Lora, serif;
  font-size: 30pt;
  top: 180px;
  position: relative;
  margin: auto;
  color: white;
  font-weight: lighter;
  text-align: center;
}

.formContainer {
  background-color: #FFF2D5;
  width: 725px;
  padding: 50px;
  border-radius: 25px;
  margin: auto;
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.formulaire {
  top: 20px;
  position: relative;
  margin: auto;
  height: 80%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  position: relative;
  font-family: Lora, serif;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  top: 20px;
  left: -300px;
}

input {
  background-color: #D9D9D9;
  border: 0;
  padding: 20px;
  width: 90%;
  border-radius: 200px;
  font-family: Lora, serif;
  font-size: 20pt;
}

option, select{
    background-color: #D9D9D9;
      border: 0;
      padding: 20px;
      height: 80px;
      width: 95%;
      border-radius: 200px;
      font-family: Lora, serif;
      font-size: 20pt;
}

.button {
  font-family: "Montserrat", serif;
  font-size: 20px;
  border-radius: 200px;
  color: black;
  border: 1px solid black;
  background-color: #B0C4DE;
  padding: 16px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 95%;
}