<h1 class="title">Détails du Juges </h1>
<div class="formContainer2">
    <form class="formulaire" (ngSubmit)="updateJuge()">
        <label class="labelid" for="id">Nom</label><br>
        <input id="id" type="text" required name="username" [(ngModel)]="username"><br>
        <label class="labelpw" for="pw">Description</label><br>
        <input id="pw" type="text" required name="firstname" [(ngModel)]="firstname"><br>
        <label class="labelpw" for="pw">Matéiriels</label><br>
        <input id="pw" type="text" required name="surename" [(ngModel)]="surename"><br>
        <div class="btn">
            <button class="submit" type="submit">Enregistrer</button>
            <button class="delete">Supprimer</button>
        </div>
    </form>
</div>