<h2 *ngIf="isEdit">Modifier la compétition</h2>
<h2 *ngIf="!isEdit">Ajouter une compétition</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="formContainer">
  <label>Nom :</label>
  <input formControlName="nom" />

  <label>Date :</label>
  <input formControlName="date" type="date" />

  <label>Statut :</label>
  <select formControlName="statut">
    <option>Ouverte</option>
    <option>Clôturée</option>
  </select>

  <label>Lieu :</label>
  <input formControlName="location" />

  <button class="button" type="submit" [disabled]="form.invalid">
    {{ isEdit ? 'Mettre à jour' : 'Créer' }}
  </button>
</form>
