<div class="background">
    <div class="container" *ngIf="isNb === false && isIDc === false && isNotation === false">
        <img src="danger.png" alt="">
            <h1>Redirection !</h1>
        <p *ngIf="isEpreuve" >Souhaitez vous séléctionner le détails des épreuves ou des juges affecter à cette épreuve ?</p>
        <p *ngIf="!isEpreuve">Souhaitez vous séléctionner le détails des compétitions ou des juges affecter à cette compétition ?</p>
        <div class="btn-container">
            <button *ngIf="isEpreuve" [routerLink]="['/detail-epreuves', id]">Epreuves</button>
            <button *ngIf="!isEpreuve" [routerLink]="['/competitionEdit', id]">Compétitions</button>
            <button *ngIf="isEpreuve" [routerLink]="['/juges/epreuve', juge_id]">Juges</button>
            <button *ngIf="!isEpreuve" [routerLink]="['/juges/competition', id]">Juges</button>
        </div>
    </div>

    <div class="containerAdd" *ngIf="isNb === true && isIDc === false && isNotation === false" >
        <img src="danger.png" alt="">
        <h1>Redirection !</h1>
        <p>Avant de créer une compétition, merci de bien vouloir indiquez combien dépreuves & Juges vous souhaitez créer !</p>
        <div class="labelcontainer">
            <p class="label">Epreuves</p>
            <p class="label">Juges</p>
        </div>
        <div class="nbcontainer">  
            <input min="1" max="10" type="number"  [(ngModel)]="NbEp">
            <input min="1" max="{{nbj}}" type="number" [(ngModel)]="NbJuge">
        </div>
        <div class="btn-container">
            <button *ngIf="!isEpreuve" [routerLink]="['/competitionAdd/epreuve', NbEp, 'juge', NbJuge]">Confirmer</button>
        </div>
    </div>

    <div class="containerAdd" *ngIf=" isNb === false && isIDc === true && isNotation === false">
        <img src="danger.png" alt="">
        <h1>Redirection !</h1>
        <p>Avant de créer une Epreuve, merci de bien vouloir indiquez la compétition à laquelle elle sera référé !<p>
        <select required name="id_competition" [(ngModel)]="id_competition">
            <option [ngValue]="null" disabled selected>-- Sélectionner une compétition --</option>
            <option *ngFor="let j of competition" [value]="j.competition_id">{{j.competition_id}}. {{j.competition_nom}}</option>
        </select>
        <div class="btn-container">
            <button *ngIf="!isEpreuve" [routerLink]="['/addEpreuve', id_competition]">Confirmer</button>
        </div>
    </div>

    <div class="containerAdd" *ngIf=" isNb === false && isIDc === false && isNotation === true">
        <img src="danger.png" alt="">
        <h1>Redirection !</h1>
        <p>Avant de consulter les notations, merci de bien vouloir indiquez l'épreuve à laquelle elle sera référé !<p>
            <select required name="epreuve_id" [(ngModel)]="epreuve_id">
                <option [ngValue]="null" disabled selected>-- Sélectionner une épreuve --</option>
                <option *ngFor="let j of epreuves" [value]="j.epreuve_id">{{j.epreuve_id}}. {{j.epreuve_name}}
                </option>
            </select>
        <div class="btn-container">
            <button *ngIf="!isEpreuve" [routerLink]="['notations/epreuve', epreuve_id]">Confirmer</button>
        </div>
    </div>
    <!-- <div class="containerAdd" *ngIf="SetJuges === true">
        <img src="danger.png" alt="">
        <h1>Redirection !</h1>
        <p>Avant de créer un Juge, merci de bien vouloir renseigné l'épreuve à laquelle il sera référé !
        <p>
            <select required name="epreuve_id" [(ngModel)]="epreuve_id">
                <option [ngValue]="null" disabled selected>-- Sélectionner une épreuve --</option>
                <option *ngFor="let j of epreuves" [value]="j.epreuve_id">{{j.epreuve_id}}. {{j.epreuve_name}}
                </option>
            </select>
        <div class="btn-container">
            <button *ngIf="!isEpreuve" [routerLink]="['/addEpreuve', id_competition]">Confirmer</button>
        </div>
    </div> -->
</div>